<% content_for :nav do %>
  <ul id="nav">
    <li><%= link_to ic("add", "Add collection"), collections_path, :method => :post %></li>
  </ul>
<% end %>

<h1>Switch Between Collections</h1>
<p>Please choose one of your collections, or add a collection to the list.</p>
<ul>
  <% @collections.each do |c| %>
    <li><%= link_to(c.path, collection_path(c.id), :target => '_top') %>
        <%= link_to(image_tag("icons/book_edit.png"),  edit_collection_path(c.id), :class => 'lightwindow', :params => 
          "lightwindow_type=external,lightwindow_width=550,lightwindow_height=500") %>
        <%= link_to(image_tag("icons/delete.png"), collection_path(c.id), :method => :delete) %></li>
  <% end %>
</ul>