/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

/* Label positioning */
form.formtastic fieldset > ol > li label { width: 150px; padding-right: 5px; text-align: right; }
form.formtastic fieldset > ol > li.boolean > label, form.formtastic fieldset > ol > li.check_boxes ol > li label { text-align: left; }
form.formtastic fieldset > ol > li fieldset ol { padding-left: 155px; width: auto; }
form.formtastic fieldset.buttons { padding-left: 155px; }


form.formtastic fieldset > ol > li p.inline-errors { margin-left: 155px; }

/* Textareas */
form.formtastic textarea { height: 30em; }
form.formtastic textarea, form.formtastic fieldset > ol > li.string input { max-width: none; width: 637px !important; padding: 3px; border: 1px solid #000000; }
form.formtastic input[type='submit'] { padding: 5px; }

/* Selects */

p.inline-errors { margin-left: 155px; }

form.formtastic fieldset > ol > li p.inline-hints { margin-left: 180px; }