/* Shared */
* { margin: 0; padding: 0; font: 18px/1.4em 'Open Sans', Helvetica, Arial, sans-serif; }
html, body { height: 100%; }
body { color: #000000; background-color: #ffffff; }
img { border: none; vertical-align: middle; }
h1, p, ul { margin-bottom: 1.2em; }
b { font-weight: bold; }
i { font-style: italic; }
ul { margin-left: 30px; }
h1 { font-size: 40px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }
h2 { font-size: 30px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }
h3 { font-size: 24px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }
h4 { font-size: 20px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }

.clear { clear: both; }

#header { margin: 0 0 12px 0; }
#search { width: 300px; }
#actions { float: right; }

#success {
  margin: 0 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #008000;
  padding: 10px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00A000), to(#008000));
}

#success img {
  float: right;
  margin-top: 4px;
  cursor: pointer;
}

#wrapper {
  margin: 0 auto;
  padding: 20px;
}

#stories-index #wrapper {
  padding: 15px;
}

#nav-wrapper {
 width: 204px;
 background-color: #000000;
 float: right;
 margin: 0 0 20px 20px;
 position: relative;
}

#nav-wrapper:hover > #nav { display: block; }

#nav {
 border: 1px solid #000000;
 background-color: #ffffff;
 width: 202px;
 list-style-type: none;
 margin: 0;
 display: none;
 position: absolute;
 top: 31px;
 left: 0;
 z-index: 1000;
}
.menu-item {
  padding: 0 1px;
}
#nav li, .menu-item {
 display: block;
}
#nav li:last-child {

}
#nav li.separator {
  border-top: 1px solid #000000;
}

#nav li a, .menu-item a {
 display: block;
 padding: 3px 9px;
 text-decoration: none;
 color: #000000;
 white-space: nowrap;
}
.menu-item a {
 color: #ffffff;
}
#nav li:hover, .menu-item:hover {
 background-color: #000000;
}
#nav li:hover a, .menu-item:hover a {
 color: #ffffff;
}
#nav li a span, .menu-item a span {
 vertical-align: middle;
}

/* List page only */

#stories { list-style-type: none; margin: 0; }
#stories li { display: block; margin: 10px 0; padding: 1px; }

#stories-index #stories li { margin: 5px 0; }

#stories li, #stories li * { background-color: #ffffff; color: #000000; }
#stories li > a, #stories li > div { display: block; overflow: hidden; white-space: nowrap; text-decoration: none; position: relative; }
#stories li span, #stories li span::before { vertical-align: middle; }
#stories li .emblems { display: block; position: absolute; top: 0; right: 0; height: 25px; line-height: 25px; padding: 0 0 0 5px; }

#stories li span.title::before { padding: 0 3px 0 0; }
#stories li span.title::before { content: url("/images/icons/page_white_text.png");  }
#stories li span.title.many_opens::before { content: url("/images/icons/award_star_bronze_1.png"); }/* :title => "Has been read 10 or more times.")}*/
#stories li span.title.scrap:before { content: url("/images/icons/page_white_text_scrap.png"); }/* :title => "Has been read 10 or more times.")}*/
#stories li span.title.unopened:before { content: url("/images/icons/page_white_lightning.png"); }/* :title => "Has been read 10 or more times.")}*/

#stories li span.mfw::before { content: url("/images/icons/comments.png"); vertical-align: middle; padding: 0 3px 0 5px; }
#stories li span.tags::before { content: url("/images/icons/tag_blue.png"); vertical-align: middle; padding: 0 3px 0 5px; }
#stories li span.opens::before { content: url("/images/icons/application_go.png"); vertical-align: middle; padding: 0 3px 0 5px; }
#stories li span.wc::before { content: url("/images/icons/page_white_stack.png"); vertical-align: middle; padding: 0 3px 0 5px; }

#stories li:hover, #stories li:hover * { background-color: #000000; color: #ffffff; }

#stories-show #previous-page, #stories-show #next-page { display: none; }
#stories-show nav { }

#story-progress {
  display: block;
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  z-index: 1000;
  opacity: 0;
}

#story-progress span, #story-progress input {
  display: block;
  float: left;
  height: 26px;
}

#story-progress span {
  width: 190px;
}

#story-progress #story-page {
  text-align: right;
}

#story-progress input {
  width: 600px;
  margin-left: 10px;
  margin-right: 10px;
}

#story-progress:hover {
  opacity: 1.0;
}

#story-back, #story-next {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10000;
}

#story-back:hover, #story-next:hover {
  background-color: #000000;
  opacity: 0.1;
}

#story-back {
  left: 0;
}

#story-next {
  right: 0;
}


#toc {
 float: right;
 margin: 44px 0px 12px 12px;
 padding: 12px;
 width: 280px;
 border: 1px solid #000000;
}
#toc ul {
  list-style-type: none;
}
#toc > ul {
  margin-left: 0;
}

.stats-wrapper { margin: 20px 0; }
.stats-wrapper .chart { float: left; }
.stats-wrapper .stats { padding-left: 20px; }


textarea { width: 100%; }
#story-new textarea, #story-edit textarea { height: 35em; }
#stories-new input[type=submit], #stories-edit input[type=submit] { float: right; padding: 5px; font-weight: bold; }
