/* Shared */
* { margin: 0; padding: 0; font: 16px/1.45em 'HelveticaNeueLT Com 45 Lt', 'Helvetica Neue Light', 'Helvetice Neue', Helvetica, Arial, sans-serif; }
body { color: #000000; background: url(/images/background.jpg) top center no-repeat fixed; padding: 50px 0 100px 0; }
img { border: none; vertical-align: middle; }
h1, p, ul { margin-bottom: 0.75em; }
b { font-weight: bold; }
i { font-style: italic; }
ul { margin-left: 30px; }
h1 { font-size: 28px; margin-bottom: 0.6em; text-align: left; font-weight: normal; }
/*h2 { font-size: 25px; margin-bottom: 15px; }*/

.clear { clear: both; }

#system-actions {
 position: fixed;
 top: 0;
 right: 20px;
 height: 16px;
 padding: 4px;
 background-color: #ffffff;
 border-radius: 0 0 4px 4px;
 opacity: 0.3;
}
#system-actions:hover { opacity: 1; }
#system-actions a { display: inline-block; width: 16px; height: 16px; line-height: 16px; }
#system-actions img { display: block; }

#header { margin: 0 0 15px 0; }
#search { width: 300px; }
#actions { float: right; }

#success {
  width: 822px;
  margin: 0 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #008000;
  padding: 10px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00A000), to(#008000));
}

#success img {
  float: right;
  margin-top: 4px;
  cursor: pointer;
}

#wrapper {
 width: 844px;
 margin: 0 auto 0 auto;
 position: relative;
 z-index: 10;
}

#success + #content-wrapper { margin-top: 5px; }
#success + #content-wrapper + #nav-wrapper { top: 70px; }

#nav-wrapper {
 position: absolute;
 left: 844px;
 top: 5px;
 z-index: -5;
 background-color: #eeeeee;
 -moz-box-shadow: 0 0 8px 5px #111;
 -webkit-box-shadow: 0 0 8px 5px #111;
 box-shadow: 0 0 8px 5px #111;
}

#nav { list-style-type: none; margin: 0; }
#nav li {
display: block;
}
#nav li:last-child {

}
#nav li a {
 display: block;
 padding: 5px 12px;
 text-decoration: none;
 color: #000000;
 white-space: nowrap;
}
#nav li:hover {
 background-color: #000000;
}
#nav li:hover a {
 color: #ffffff;
}
#nav li a, #nav li a span {
 vertical-align: middle;
}

#content-wrapper {
 margin-top: 50px;
 width: 800px;
 padding: 22px;
 background: #ffffff url(/images/page-background.jpg) top center no-repeat fixed;
 -moz-box-shadow: 0 0 15px 7px #111;;
 -webkit-box-shadow: 0 0 15px 7px #111;;
 box-shadow: 0 0 15px 7px #111;
}


/* List page only */

#tag_cloud { position: absolute; top: 0; right: 0; z-index: 1000; width: 500px; background-color: #ffffff; padding: 15px; }
#tag_cloud .size_1 { font_size: 1.0em; }
#tag_cloud .size_2 { font_size: 1.2em; }
#tag_cloud .size_3 { font_size: 1.4em; }
#tag_cloud .size_4 { font-size: 1.6em; }

#stories { list-style-type: none; margin: 0; }
#stories li { border-bottom: 1px solid #c0c0c0; margin: 0; display: block; }

#stories li > a, #stories li > div > div { white-space: nowrap; overflow: hidden; color: #000000; text-decoration: none; vertical-align: middle; display: block; padding: 5px 0 5px 0; position: relative; }
#stories li > a > div { display: block; position: relative; }
#stories li > a span { vertical-align: middle; }
#stories li > a > div img { padding: 0 0 0 10px; }
#stories li > a > div img:first-child { padding-left: 0; }
#stories li .emblems { display: block; position: absolute; top: 0; right: 0; height: 25px; line-height: 25px; vertical-align: middle; }

#stories li:hover > a > div { background-color: #000000; color: #ffffff; }

#story #info { float: left; width: 315px; }
#story .actions { margin-top: 15px; border-top: 1px solid #a0a0a0; padding-top: 15px; }

#stories-show #previous-page, #stories-show #next-page { display: none; }
#stories-show nav { }

.stats-wrapper { margin: 20px 0; }
.stats-wrapper .chart { float: left; }
.stats-wrapper .stats { padding-left: 20px; }


#stories-new textarea, #stories-edit textarea { width: 100%; height: 35em; }
#stories-new input[type=submit], #stories-edit input[type=submit] { float: right; padding: 5px; font-weight: bold;; }

@media screen and (max-width: 844px) {
  html.main, html.main body, html.main #wrapper, html.main #content-wrapper {
    background: none;
    width: auto;
    margin: 0;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  html.main #content-wrapper { padding: 5px; }
  html.main #nav, html.main .desktop-only { display: none; }

  html.main * { font-size: 14px; }    
  html.main h1, html.main p, html.main ul { margin-bottom: 5px; }
  
  html.main#stories-show body { overflow: hidden; }
  html.main#stories-show #previous-page { display: block; position: absolute; left: 0; right: 0; top: 0; height: 100px; }
  html.main#stories-show #next-page { display: block; position: absolute; left: 0; right: 0; bottom: 0; height: 100px; }
}