/* Shared */
* { margin: 0; padding: 0; font: 16px/1.3em Georgia, Helvetica, Arial, sans-serif; }
body { color: #000000; }
img { border: none; vertical-align: middle; }
p, ul { margin-bottom: 1.3em; }
ul { margin-left: 30px; }
h1 { font-size: 30px; margin-bottom: 20px; text-align: center; }
h2 { font-size: 25px; margin-bottom: 15px; }

.clear { clear: both; }

#header { margin-bottom: 15px; }
#search { width: 300px; }
#actions { float: right; }

#wrapper { margin: 15px; }

/* List page only */

#tag_cloud { position: absolute; top: 0; right: 0; z-index: 1000; width: 500px; background-color: #ffffff; padding: 15px; }
#tag_cloud .size_1 { font_size: 1.0em; }
#tag_cloud .size_2 { font_size: 1.2em; }
#tag_cloud .size_3 { font_size: 1.4em; }
#tag_cloud .size_4 { font-size: 1.6em; }

.title { font-weight: bold; }
#stories { margin-left: 0; }
#stories li { width: 425px; height: 320px; margin: 0 15px 15px 0; float: left; list-style-type: none; position: relative; }
#stories li .actions-emblems { display: block; position: absolute; top: 0; right: 0; padding: 1px; line-height: 0; background-color: #ffffff; }
#stories li .wrapper > a { color: #000000; text-decoration: none; }
#stories li .info { display: none; }
#stories li .info img { vertical-align: middle; }
#stories .tag_list { min-height: 1.2em; }
#stories .tag_list:hover { background-color: #ffffaa; }
#stories input { width: 100%; }
/*#stories .tags form { display: none; }*/

#stories .info { margin-top: 5px; }
#stories .info .stat { float: left; padding-right: 15px; }

#stories li:hover { overflow: visible; z-index: 999; }
#stories li:hover .wrapper { position: absolute; top: 0; left: 0; background-color: #ffffff; }
#stories li:hover .actions-emblems, #stories li:hover .info { display: block; }

#story .title_image { float: left; margin-right: 15px; }
#story #info { float: left; width: 315px; }
#story .actions { margin-top: 15px; border-top: 1px solid #a0a0a0; padding-top: 15px; }


#stories-show #wrapper { width: 800px; margin-left: auto; margin-right: auto; }
/*
#stories-index body {
 background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.39, rgb(0,0,0)),
    color-stop(0.73, rgb(46,46,46))
);
 background-image: -moz-linear-gradient(
    left top,
    rgb(0,0,0) 39%,
    rgb(46,46,46) 73%
);
}*/