-#
  %ul#nav
    %li= link_to("Edit Story", edit_story_path(@story))
    %li= link_to("Delete Story", story_path(@story), :method => :delete, :confirm => 'Are you sure?')
  .clear
= raw Nsf::Document.from_nsf(@story.content).to_html