- if flash[:success]
  #success
    %a{:href => "/stories"}
      %img{:src => "/images/icons/accept.png"}
      = flash[:success]

- if content_for? :nav
  #nav-wrapper
    %span.menu-item
      %a#nav-show{:href => "#"} Actions
    %ul#nav= yield :nav
