<!DOCTYPE html>
<html xmlns="" class="secondary">
  <head>
    <%= render :partial => 'layouts/header' %>
    <%= stylesheet_link_tag 'secondary' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
